@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); 

#header {
    padding-top: 3%;
    padding-bottom: 2%;
    background-color: #782221;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
}

#icone {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
}

#icone:hover {
    cursor: zoom-in;
}

#address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(32, 4, 32);
    padding: 25px;
}

.info:hover {
    text-decoration: underline;
    cursor: pointer;
}

.info {
    color: white;
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

.section:hover {
    border-right: 0 0 5px solid #782221;
}

#principal {
    text-align: justify;
    width: 60%;
    padding: 5px;
    padding-right: 5%;
}

#propos {
    width: 400px;
    background-color: #782221;
    color: white;
    text-align: justify;
    padding-left: 0%;
    padding-right: 5%;
}

.titre {
    background-color: rgba(212, 129, 129, 0.453);
    color: black;
    padding: 5px;
    border: 0 0 10px solid #782221;
}

.competence {
    background-color: rgba(245, 245, 220, 0.879);
    color: black;
    padding: .5em;
}

#vie {
    display: flex;
    text-align: justify;
    padding: 10px;
}

footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    background-color: #782221;
}

#github {
    width: 50px;
    height: 50px;
}

#github:hover {
    opacity: 0.2;
}

#twitter {
    width: 50px;
    height: 50px;
}

#twitter:hover {
    opacity: 0.2;
}

#linkedin {
    width: 50px;
    height: 50px;
}

#linkedin:hover {
    opacity: 0.2;
}

#reseaux {
    display: flex;
    justify-content: center;
    background-color: #782221;
}

#reseaux:hover {
    cursor: pointer;
}

#copyright {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}